 <div class="container-login">
     <div class="login">
         <div class="login-title">
             <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="50" height="50"
                 viewBox="0 0 64.000000 64.000000" preserveAspectRatio="xMidYMid meet">
                 <g transform="translate(0.000000,64.000000) scale(0.100000,-0.100000)" fill="#faf9b9" stroke="none">
                     <path
                         d="M192 615 c-17 -14 -35 -25 -41 -25 -5 0 -15 -9 -21 -20 -9 -16 -21 -20 -65 -20 l-55 0 0 -275 0 -275 225 0 225 0 0 102 0 103 87 87 87 88 -29 30 c-16 16 -33 30 -39 30 -6 0 -32 -21 -58 -47 l-48 -47 0 102 0 102 -53 0 c-41 0 -55 4 -65 20 -7 11 -17 20 -23 20 -6 0 -24 11 -41 25 -16 14 -36 25 -43 25 -7 0 -27 -11 -43 -25z m80 -14 c7 -10 22 -21 34 -25 19 -6 44 -43 44 -66 0 -6 -49 -10 -115 -10 -66 0 -115 4 -115 10 0 23 25 60 44 66 12 4 27 15 34 25 7 11 24 19 37 19 13 0 30 -8 37 -19z m-182 -68 c-14 -3 -28 -10 -32 -17 -10 -15 -10 -448 0 -464 7 -9 50 -12 183 -10 l174 3 5 64 c3 39 10 66 17 69 10 3 13 -17 13 -77 l0 -81 -215 0 -215 0 0 260 0 260 48 -1 c27 -1 37 -4 22 -6z m360 -97 c0 -79 -4 -106 -15 -116 -12 -10 -15 3 -17 96 l-3 109 -30 6 c-25 6 -22 7 18 8 l47 1 0 -104z m-350 64 c0 -6 52 -10 135 -10 83 0 135 4 135 10 0 6 7 10 15 10 12 0 15 -19 15 -112 0 -142 -4 -147 -109 -150 l-76 -2 63 -3 c34 -2 62 -6 62 -9 0 -18 -68 -84 -87 -84 -13 0 -23 -4 -23 -10 0 -5 11 -10 24 -10 19 0 22 -4 18 -25 -2 -14 0 -25 5 -25 23 0 80 24 101 43 l22 20 0 -41 0 -42 -165 0 -165 0 0 225 c0 193 2 225 15 225 8 0 15 -4 15 -10z m489 -103 c19 -22 20 -25 6 -37 -13 -11 -20 -9 -40 10 -19 18 -22 26 -14 37 16 18 22 17 48 -10z m-41 -40 l22 -23 -108 -107 -108 -108 -24 26 -24 26 104 104 c58 58 107 105 111 105 3 0 15 -10 27 -23z m-225 -248 c-28 -12 -33 -10 -33 9 0 29 11 34 32 15 19 -17 19 -18 1 -24z" />
                     <path
                         d="M143 368 c-18 -18 -24 -19 -37 -8 -9 7 -16 8 -16 2 0 -5 7 -15 16 -22 13 -11 20 -9 47 18 17 18 27 32 22 32 -6 0 -20 -10 -32 -22z" />
                     <path d="M230 350 c0 -6 32 -10 75 -10 43 0 75 4 75 10 0 6 -32 10 -75 10 -43 0 -75 -4 -75 -10z" />
                     <path
                         d="M145 260 c-13 -14 -22 -17 -29 -10 -16 16 -30 12 -16 -5 18 -21 33 -19 60 10 13 14 19 25 13 25 -5 0 -18 -9 -28 -20z" />
                     <path
                         d="M143 158 c-18 -18 -24 -19 -37 -8 -9 7 -16 8 -16 2 0 -5 7 -15 16 -22 13 -11 20 -9 47 18 17 18 27 32 22 32 -6 0 -20 -10 -32 -22z" />
                 </g>
             </svg>
             <span>To do List</span>
         </div>
         <form action="/login" method="POST" class="form-login">
             <div class="title-form">
                 {{#if errorsLogin}}
                 <div class="errors">{{errorsLogin.invalid}}</div>
                 {{/if}}
                 <span>
                     Login
                 </span>
             </div>

             <div class="user-input-login">
                 <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                     viewBox="0 0 50.000000 50.000000" preserveAspectRatio="xMidYMid meet" class='icon-login'>

                     <g transform="translate(0.000000,50.000000) scale(0.100000,-0.100000)" fill="#FFFF40"
                         stroke="none">
                         <path d="M189 466 c-127 -45 -191 -185 -140 -302 29 -64 55 -92 116 -120 86
-41 188 -23 258 43 46 45 31 59 -17 15 -111 -103 -275 -72 -337 63 -63 135 46
295 202 295 82 0 165 -75 176 -159 7 -51 -28 -126 -71 -152 -73 -44 -79 -14
-27 118 23 58 39 108 36 112 -4 3 -11 -2 -16 -12 -10 -16 -12 -16 -36 3 -47
37 -116 20 -166 -39 -50 -60 -60 -149 -21 -192 24 -27 77 -34 113 -16 26 13
32 13 42 1 30 -37 107 6 144 80 30 59 31 97 6 151 -47 101 -158 148 -262 111z
m129 -112 c29 -20 28 -51 -7 -128 -43 -96 -96 -121 -148 -70 -22 22 -25 32
-20 71 5 51 29 88 77 121 39 26 67 28 98 6z" />
                     </g>
                 </svg>
                 <input type="email" name="email" placeholder="Email..." id="" class='input-login'>
             </div>
             <!-- errors email-->
             {{#if errorsLogin}}
             <div class="errors">{{errorsLogin.email}}</div>
             {{/if}}
             {{#if errors}}
             <div class="errors">{{errors.email}}</div>
             {{/if}}

             <!-- password-->
             <div class="user-input-login">
                 <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                     viewBox="0 0 50.000000 50.000000" preserveAspectRatio="xMidYMid meet" class='icon-login'>

                     <g transform="translate(0.000000,50.000000) scale(0.100000,-0.100000)" fill="#FFFF40"
                         stroke="none">
                         <path d="M198 444 c-35 -18 -58 -62 -58 -109 0 -20 -9 -53 -20 -75 -38 -75
-14 -157 58 -198 74 -41 158 -18 200 56 27 49 28 91 2 142 -11 22 -20 55 -20
75 0 94 -85 151 -162 109z m113 -33 c21 -22 29 -39 29 -65 l0 -37 -30 16 c-16
8 -43 15 -60 15 -17 0 -44 -7 -60 -15 l-30 -16 0 37 c0 47 45 94 90 94 22 0
41 -9 61 -29z m-35 -206 c6 -14 -16 -75 -26 -75 -10 0 -32 61 -26 75 7 19 45
19 52 0z" />
                     </g>
                 </svg>
                 <input type="password" name="password" placeholder="Password..." id="" class='input-login'>
             </div>
             <!-- errors password-->
             {{#if errors}}
             <div class="errors">{{errors.password}}</div>
             {{/if}}

             <div class="button-login">
                 <button type="submit" class='btn-login'>Log in</button>
             </div>

         </form>
         <div class="link-login">
             <span>Don't have an account?</span>
             <a href="/register" class='link-register'>Register now!</a>
         </div>

     </div>
 </div>