@media (max-width:480px){
        .container-painel {
            min-height: 100vh;
            display: grid;
            background-color: white;
            grid-template-columns: 1fr;
            grid-template-rows: 30% 1fr;
            grid-template-areas: 'title''task';
        }

        .header {
            grid-area: title;
            background-image: linear-gradient( 10.1deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        .label-task {
            margin-top: 30%;
            padding-bottom: 2%;
            font-size: 16px;
            
        }
}