*       {
    margin: 0px;
    padding:0px;
}
.container-register  {
    display:grid;
    min-height: 100vh;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1fr;
    grid-template-areas: 'empty-left register empty-right';
    font-family: 'Oswald', sans-serif;

}
.register  {
    grid-area: register;
    height:90%;
    width: 60%;
    margin:auto;
    color:#FFFF40;
    border:2px solid #FFFF40; 
    background:url('../img/bg-degrade.png'); 
    border-radius: 30px;
    box-shadow: 0px 0px 5px 4px #168059;



}

.register-title        {
    height:30%;
    color: #faf9b9;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
}

.form-register  {
    height:50%;
    
}
.title-form  {
    margin-left: 10%;
    font-size: 19px;
    font-weight: 100px;
}
.user-input-register {
    height:20%;
    width:80%;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.icon-register     {
    padding: 10px;
    background:#346751;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.input-register    {
    padding: 15px;
    width:100%;
    border:2px solid #FFFF40;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline-color: #01937C;
}
.input-register::placeholder   {
    color: #01937C;
    font-size: 14px;
 }

 .button-register  {
    padding:25px;
    display:flex;
    align-items: center;
    justify-content: center;

}

.btn-register      {
    padding:15px 30px;
    background:#346751;
    border: none;
    color: #FFFF40;
    font-size: 15px;
}

.errors  {
    margin-left: 10%;
}



@media (max-width: 481px){
    .container-register  {
        display:grid;
        min-height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 'register';
        background:url('../img/bg-degrade.png'); 
        font-family: 'Oswald', sans-serif;
        }

        .register  {
            grid-area: register;
            height:98%;
            width: 98%;
            margin:auto;
            color:#FFFF40;
            border:2px solid #FFFF40; 
            background:url('../img/bg-degrade.png'); 
            border-radius: 30px;
        
        
        }

}